
.hero {
	
		position: relative;
     padding-top: 150px;
	 padding-bottom: 145px;
     background-color: #383838;
	 &::before{
		content: '';
				position: absolute;
				display: inline-block;
				width: 830px;
				height:400px;
			    bottom: 0;
				right: 0;
				background-image: url(../../images/cars\ image.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
	 }
		&__container {
			@include df-column-start-center;	
		}

		&__left-box {
			// @include df-column-start-center;	
		}

		&__title {
			text-align:start;
		    position: relative;
			width:100%;
			  font-family: "Montserrat";
			  font-weight: 900;
			  font-size: 100px;
			  line-height: 100%;
			letter-spacing: 0%;
			margin-bottom: 34px;
			color: #F4C551;
					&::after{
				content: '';
				position: absolute;
				display: inline-block;
				width: 230px;
				height: 200px;
				top: -55px;
				left: -85px;
		        transform: rotate(50deg);
				background-image: url(../../images/fire.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}

		}

		&__text {
           width: 100%;
		    font-family: "Montserrat";
			text-align:start;
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			letter-spacing: 0%;
			color: #EDEDED;
			margin-bottom: 47px;
	
		}

		&__cash-box {
		    // @include df-column-start-center;	
			gap: 5px;
			margin-bottom: 48px;
		}

		&__cash-title {
             font-family: "Montserrat";
			 font-weight: 400;
			 font-size: 14px;
			 line-height: 100%;
			 letter-spacing: 0%;
			 color: #868686;
		}

		&__cash-money-text {
		     font-family: "Montserrat";
			 font-weight: 700;
			 font-size: 36px;
			 line-height: 100%;
			 letter-spacing: 0%;
			 color: white;
		}

		&__button {
	
			gap: 15px;
		    padding: 10px 15px;
			border: 1px solid #F4C551;
			border-radius: 15px;
			background-color: #232323;
			   font-family: "Montserrat";
			   font-weight: 700;
			   font-size: 18px;
			   line-height: 32px;
			   letter-spacing: 0%;
			   color: #F4C551;
			   transition: 200ms ease all;
			   &:active  {
  transition: 200ms ease all;
			   opacity: 0.5;
			   }
		}
		&__button-icon{
			
		}
	}		

@media(max-width:1200px){

.hero {
	
		position: relative;
     padding-top: 150px;
	 padding-bottom: 150px;
     background-color: #383838;
	 &::before{
		content: '';
				position: absolute;
				display: inline-block;
				width: 830px;
				height:400px;
			    bottom: 0;
				right: 0;
				background-image: url(../../images/cars\ image.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
	 }
		&__container {
			@include df-column-start-center;	
		}

		&__left-box {
			// @include df-column-start-center;	
		}

		&__title {
			text-align:start;
		    position: relative;
			width:100%;
			  font-family: "Montserrat";
			  font-weight: 900;
			  font-size: 100px;
			  line-height: 100%;
			letter-spacing: 0%;
			margin-bottom: 34px;
			color: #F4C551;
					&::after{
				content: '';
				position: absolute;
				display: inline-block;
				width: 230px;
				height: 200px;
				top: -55px;
				left: -85px;
		        transform: rotate(50deg);
				background-image: url(../../images/fire.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}

		}

		&__text {
           width: 100%;
		    font-family: "Montserrat";
			text-align:start;
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			letter-spacing: 0%;
			color: #EDEDED;
			margin-bottom: 47px;
	
		}

		&__cash-box {
		    // @include df-column-start-center;	
			gap: 5px;
			margin-bottom: 48px;
		}

		&__cash-title {
             font-family: "Montserrat";
			 font-weight: 400;
			 font-size: 14px;
			 line-height: 100%;
			 letter-spacing: 0%;
			 color: #868686;
		}

		&__cash-money-text {
		     font-family: "Montserrat";
			 font-weight: 700;
			 font-size: 36px;
			 line-height: 100%;
			 letter-spacing: 0%;
			 color: white;
		}

		&__button {
	
			gap: 15px;
		    padding: 10px 15px;
			border: 1px solid #F4C551;
			border-radius: 15px;
			background-color: #232323;
			   font-family: "Montserrat";
			   font-weight: 700;
			   font-size: 18px;
			   line-height: 32px;
			   letter-spacing: 0%;
			   color: #F4C551;
			   transition: 200ms ease all;
			   &:active  {
  transition: 200ms ease all;
			   opacity: 0.5;
			   }
		}
		&__button-icon{
			
		}}

}
@media(max-width:1024px){
	.hero {
		position: relative;
     padding-top: 150px;
	 padding-bottom: 500px;
     background-color: #383838;
	 &::before{
		content: '';
				position: absolute;
				display: inline-block;
				width: 700px;
				height:435px;
			    bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				background-image: url(../../images/cars\ image.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
	 }
		&__container {
			@include  df-column-center-center;	
		}

		&__left-box {
			@include  df-column-center-center;	
		}

		&__title {
		    position: relative;
			text-align: center;
			width:229px;
			  font-family: "Montserrat";
			  font-weight: 900;
			  font-size: 40px;
			  line-height: 100%;
			letter-spacing: 0%;
			margin-bottom: 34px;
			color: #F4C551;
					&::after{
				content: '';
				position: absolute;
				display: inline-block;
				width: 73px;
				height: 100px;
				top: -35px;
				left: 18px;
		        transform: rotate(50deg);
				background-image: url(../../images/fire.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}

		}

		&__text {
           width: 100%;
		    font-family: "Montserrat";
			text-align: center;
			font-weight: 400;
			font-size: 12px;
			line-height: 28px;
			letter-spacing: 0%;
			color: #EDEDED;
			margin-bottom: 47px;
	
		}

		&__cash-box {
			@include  df-column-center-center;	
			gap: 5px;
			margin-bottom: 48px;
		}

		&__cash-title {
             font-family: "Montserrat";
			 font-weight: 400;
			 font-size: 14px;
			 line-height: 100%;
			 letter-spacing: 0%;
			 color: #868686;
		}

		&__cash-money-text {
		     font-family: "Montserrat";
			 font-weight: 700;
			 font-size: 36px;
			 line-height: 100%;
			 letter-spacing: 0%;
			 color: white;
		}

		&__button {
			@include df-row-center-center;
			gap: 15px;
		    padding: 10px 15px;
			border: 1px solid #F4C551;
			border-radius: 15px;
			background-color: #232323;
			   font-family: "Montserrat";
			   font-weight: 700;
			   font-size: 16px;
			   line-height: 32px;
			   letter-spacing: 0%;
			   color: #F4C551;
			   transition: 200ms ease all;
			   &:active  {
  transition: 200ms ease all;
			   opacity: 0.5;
			   }
		}
		&__button-icon{
		
		}
	}		
}



@media(max-width:767px){
	.hero {
		width: 100%;
		position: relative;
     padding-top: 60px;
	 padding-bottom: 92px;
     background-color: #383838;
	  &::before{
		content: '';
				position: absolute;
				display: none;
				width: 700px;
				height:435px;
			    bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				background-image: url(../../images/cars\ image.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
	 }
		&__container {
			@include  df-column-center-center;	
		}

		&__left-box {
			@include  df-column-center-center;	
		}

		&__title {
				position: relative;
			text-align: center;
			width: 229px;
			  font-family: "Montserrat";
			  font-weight: 900;
			  font-size: 40px;
			  line-height: 100%;
			letter-spacing: 0%;
			margin-bottom: 34px;
			color: #F4C551;
				&::after{
				content: '';
				position: absolute;
				display: inline-block;
				width: 85px;
				height: 100px;
				top: -30px;
				left: 10px;
		        transform: rotate(34deg);
				background-image: url(../../images/fire.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}

		}

		&__text {

		    font-family: "Montserrat";
			text-align: center;
			font-weight: 400;
			font-size: 12px;
			line-height: 28px;
			letter-spacing: 0%;
			color: #EDEDED;
			margin-bottom: 47px;
	
		}

		&__cash-box {
			@include  df-column-center-center;	
			gap: 5px;
			margin-bottom: 48px;
		}

		&__cash-title {
             font-family: "Montserrat";
			 font-weight: 400;
			 font-size: 14px;
			 line-height: 100%;
			 letter-spacing: 0%;
			 color: #868686;
		}

		&__cash-money-text {
		     font-family: "Montserrat";
			 font-weight: 700;
			 font-size: 36px;
			 line-height: 100%;
			 letter-spacing: 0%;
			 color: white;
		}

		&__button {
			@include df-row-center-center;
			gap: 15px;
		    padding: 10px 15px;
			border: 1px solid #F4C551;
			border-radius: 15px;
			background-color: #232323;
			   font-family: "Montserrat";
			   font-weight: 700;
			   font-size: 16px;
			   line-height: 32px;
			   letter-spacing: 0%;
			   color: #F4C551;
			   transition: 200ms ease all;
			   &:active  {
  transition: 200ms ease all;
			   opacity: 0.5;
			   }
		}
		&__button-icon{
		
		}
}
}
